<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adam.lean.foreign"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="广告Demo_海外" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".BannerActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".InterstitialActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" />

        <!-- admob -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <!-- admob -->

        <!-- 广告SDK -->
        <activity
            android:name="com.up.ads.wrapper.activity.UPAccessPrivacyInfoNotifyActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/UpDialogStyle" />
        <activity
            android:name="com.up.ads.wrapper.activity.UPInterstitialDialogActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/UpDialogStyle" />
        <activity
            android:name="com.up.ads.debug.UPRewardVideoDebugActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.up.ads.debug.video.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.up.ads.debug.UPInterstitialDebugActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.up.ads.debug.inter.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.up.ads.adapter.interstitial.fbn.UPFbnInterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.up.ads.adapter.interstitial.inner.UPInnerInterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.up.ads.adapter.exit.inner.single.UPInnerSingleExitAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name="com.up.ads.adapter.exit.inner.list.UPInnerListExitAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name="com.up.ads.adapter.exit.inner.UPAppsAdsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <!-- 广告SDK -->

        <!-- 兼容3003以下的 sdk -->
        <activity
            android:name="com.avidly.ads.wrapper.interstitial.AvidlyInterstitialDialogActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@style/UpDialogStyle" />
        <activity
            android:name="com.avidly.ads.debug.AvidlyRewardVideoDebugActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.avidly.ads.debug.video.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.avidly.ads.debug.AvidlyInterstitialDebugActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="com.avidly.ads.debug.inter.activity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.avidly.ads.adapter.interstitial.fbn.FbnInterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.avidly.ads.adapter.interstitial.inner.InnerInterstitialAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.avidly.ads.adapter.exit.inner.single.InnerSingleExitAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name="com.avidly.ads.adapter.exit.inner.list.InnerListExitAdActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <activity
            android:name="com.avidly.ads.adapter.exit.inner.AppsAdsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Black.NoTitleBar"></activity>
        <!-- 兼容3003以下的 sdk -->

        <!-- facebook -->
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- facebook -->

        <!-- adcolony -->
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- adcolony -->

        <!-- vungle -->
        <activity
            android:name="com.vungle.warren.ui.VungleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.vungle.warren.ui.VungleWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.vungle.warren.ui.VungleFlexViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- vungle -->

        <!-- mobvista -->
        <activity
            android:name="com.mintegral.msdk.activity.MTGCommonActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- mobvista -->

        <!-- unity -->
        <activity
            android:name="com.unity3d.services.ads.adunit.AdUnitActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- unity -->

        <!-- applovin -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="BLZ3nWD4mwe_7TFhC7kqaUqZMz32l9nxVL-GtCKc6-cEWsxizeXT8L7UJAX2KJ-qey4W9P7FNkUvaPcT295AUD" />

        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:configChanges="orientation|screenSize" />
        <!-- applovin -->

        <!-- chartboost -->
        <activity
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!-- chartboost -->

        <!-- playable -->
        <activity
            android:name="com.avidly.playablead.scene.view.AvidlyPlayableActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/PlayableAdTranslucentStyle" />
        <!-- playable -->

        <!-- ironsource -->
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" />
        <!-- ironsource -->

        <!-- vk -->
        <activity
            android:name="com.my.target.common.MyTargetActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <!-- vk -->

        <!-- maio -->
        <activity
            android:name="jp.maio.sdk.android.AdFullscreenActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- maio -->

        <!-- oneway -->
        <activity
            android:name="mobi.oneway.sdk.AdShowActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- oneway -->

        <!--tapjoy -->
        <activity
            android:name="com.tapjoy.TJAdUnitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tapjoy.mraid.view.ActionHandler"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.mraid.view.Browser"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.tapjoy.TJContentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--tapjoy -->

        <!--youlan -->
        <activity
            android:name="com.youlan.youlansdk.views.ad.RewardedVideoAdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.youlan.youlansdk.views.base.WebViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <!--youlan -->

        <!--amazon -->
        <activity
            android:name="com.amazon.device.ads.AdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!--amazon -->

        <!--mobpower -->
        <activity
            android:name="com.mobpower.video.ui.VideoADActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.mobpower.video.ui.VideoADDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/mobpowerVideoDialogActivityTheme" />
        <!--mobpower -->

        <!-- batmobi -->
        <activity
            android:name="com.batmobi.BatMobiActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- batmobi -->
        
        <!-- display.io -->
        <activity
            android:name="io.display.sdk.DioActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="io.display.sdk.DioTranslucentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="io.display.sdk.device.PermissionsHandler" />
        <!-- display.io -->
        
    </application>

</manifest>